{%- import "includes/docs.jinja" as docs with context -%}
{%- set repo_url = "https://github.com/" + github_user + "/" + project_name -%}
{%- set docs_url = "https://" + github_user + ".github.io/" + project_name -%}
# Contributing to {{ project_name }}

**Contributions are welcome!**

Thank you for your time and interest in improving
**{{ project_name }}**!

## Project resources

{% if enable_docs -%}
* **Web site**: **<{{ docs_url }}>**
  for general project information, usage, and development documentation
{% endif -%}
* **Repository**: <{{ repo_url }}>
  for submitting pull requests
* **Issue tracker**: <{{ repo_url }}/issues>
  for questions or bug reports
{%- if not enable_docs %}

## Development documentation

{{ docs.contributing() }}
{%- endif -%}
{#- vim: set ft=markdown: #}
