# {{ project_name }}

{{ project_description }}
{%- if project_visibility == 'public' %}

[![License](https://img.shields.io/github/license/{{ github_user }}/{{ project_name }})](https://github.com/{{ github_user }}/{{ project_name }}/blob/main/LICENSE)
{%- if enable_pypi %}
[![PyPI](https://img.shields.io/pypi/v/{{ project_name }})](https://pypi.org/project/{{ project_name }}/)
[![Python](https://img.shields.io/pypi/pyversions/{{ project_name }})](https://pypi.org/project/{{ project_name }}/)
{%- endif %}
[![CI](https://github.com/{{ github_user }}/{{ project_name }}/actions/workflows/ci.yaml/badge.svg)](https://github.com/{{ github_user }}/{{ project_name }}/actions/workflows/ci.yaml)
{%- if enable_coverage %}
[![Coverage](https://codecov.io/gh/{{ github_user }}/{{ project_name }}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ github_user }}/{{ project_name }})
{%- endif %}
[![Renovate](https://img.shields.io/badge/renovate-enabled-brightgreen?logo=renovatebot)](https://renovatebot.com)
[![GitHub stars](https://img.shields.io/github/stars/{{ github_user }}/{{ project_name }}?style=social)](https://github.com/{{ github_user }}/{{ project_name }})
{%- endif %}
{%- if enable_pypi %}

## Installation

```sh
pip install {{ project_name }}
```
{%- endif %}
{#- vim: set ft=markdown: #}
