{%- import "includes/python.jinja" as py with context -%}
name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref || github.ref }}{% endraw %}
  cancel-in-progress: {% raw %}${{ github.event_name == 'pull_request' }}{% endraw %}

jobs:
  ci:
    name: {% raw %}Test (Python ${{ matrix.python-version }}){% endraw %}
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: {% raw %}${{ matrix.python-version }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        python-version:
{%- call(loop, v) py.for_each_version() %}
          - '{{ v }}'
{%- endcall %}
    steps:
      - name: 💾 Check out repository
        uses: actions/checkout@v6

      - name: 📦 Restore uv cache
        uses: actions/cache@v6
        with:
          path: ~/.cache/uv
          key: {% raw %}uv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}{% endraw %}
          restore-keys: |
            {% raw %}uv-${{ runner.os }}-${{ matrix.python-version }}-{% endraw %}

      - name: 🍳 Set up mise
        uses: jdx/mise-action@v4
        with:
          cache: true
          install: true

      - name: 📐 Lint
        run: mise run lint

      - name: 🔥 Test
        run: mise run test
{%- if enable_coverage %}

      - name: 🔍 Collect coverage results
        run: uv run coverage xml
        if: {% raw %}${{ matrix.python-version == '{% endraw %}{{ py.latest() }}{% raw %}' }}{% endraw %}

      - name: 📊 Upload coverage to Codecov
        uses: codecov/codecov-action@v6
        if: {% raw %}${{ matrix.python-version == '{% endraw %}{{ py.latest() }}{% raw %}' }}{% endraw %}
        with:
          fail_ci_if_error: true
          use_pypi: true
          version: 11.2.8
{%- endif %}
{% if enable_docs %}
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: '{{ py.latest() }}'
    steps:
      - name: 💾 Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 📦 Restore uv cache
        uses: actions/cache@v6
        with:
          path: ~/.cache/uv
          key: {% raw %}uv-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}{% endraw %}
          restore-keys: |
            {% raw %}uv-${{ runner.os }}-{% endraw %}

      - name: 🍳 Set up mise
        uses: jdx/mise-action@v4
        with:
          cache: true
          install: true

      - name: 📖 Build documentation
        run: mise run docs-build
{%- endif %}

  gitleaks:
    name: Secret scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: 💾 Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 🔍 Check for secrets
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
{#- vim: set ft=yaml: #}
