{%- import "includes/python.jinja" as py with context -%}
name: Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: '{{ py.latest() }}'
    steps:
      - name: 💾 Check out repository
        uses: actions/checkout@v7
        with:
          fetch-depth: 0

      - name: 📦 Restore uv cache
        uses: actions/cache@v6
        with:
          path: ~/.cache/uv
          key: {% raw %}uv-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}{% endraw %}
          restore-keys: |
            {% raw %}uv-${{ runner.os }}-{% endraw %}

      - name: 🍳 Set up mise
        uses: jdx/mise-action@v4
        with:
          cache: true
          install: true

      - name: 📖 Build documentation
        run: mise run docs-build

      - name: 🔼 Upload artifact
        uses: actions/upload-pages-artifact@v5
        with:
          path: site/

  deploy:
    name: Deploy Documentation
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: {% raw %}${{ steps.deployment.outputs.page_url }}{% endraw %}
    steps:
      - name: 🚀 Deploy site
        uses: actions/deploy-pages@v5
        id: deployment
{#- vim: set ft=yaml: #}
