{%- import "includes/python.jinja" as py with context -%}
name: Audit

on:
  push:
    branches:
      - main
    paths:
      - uv.lock
  pull_request:
    paths:
      - uv.lock

jobs:
  audit:
    name: Dependencies
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: '{{ py.latest() }}'
    steps:
      - name: 💾 Check out repository
        uses: actions/checkout@v7

      - name: 📦 Restore uv cache
        uses: actions/cache@v6
        with:
          path: ~/.cache/uv
          key: {% raw %}uv-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}{% endraw %}
          restore-keys: |
            {% raw %}uv-${{ runner.os }}-{% endraw %}

      - name: 🍳 Set up mise
        uses: jdx/mise-action@v4
        with:
          cache: true
          install: true

      - name: 🔍 Check dependencies
        run: mise run audit
{#- vim: set ft=yaml: #}
