name: Container Registry

on:
  pull_request:
    types:
      - closed
  schedule:
    - cron: 0 3 * * 0
  workflow_dispatch:

jobs:
  cleanup:
    name: Clean up images
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: 🧹 Clean up old container images
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
          keep-n-tagged: 5
          keep-n-untagged: 2
          delete-untagged: true
          exclude-tags: |
            ^\d+(\.\d+){0,2}$
            ^edge$
            ^latest$
            ^main$
{#- vim: set ft=yaml: #}
