{%- macro contributing() -%}
{%- set h = "##" -%}
{{ requirements(h) }}

{{ workflow(h) }}

{{ updates(h) }}
{%- endmacro -%}

{%- macro requirements(h='') -%}
{{h}}# Prerequisites

- [x] A [supported version][python-versions] of [**Python**][python]
- [x] [**git** for verson control][git]
- [x] [Astral's **uv** Python project manager][uv]: `pip install uv` or
  [other supported method][uv-installation]
- [x] [**Copier**][copier]: `uv tool install copier`
- [x] [Poe the Poet][poethepoet] (recommended): `uv tool install poethepoet`

    This provides `poe` without the `uv run` prefix,
    e.g. `poe test` instead of `uv run poe test`

[copier]: https://copier.readthedocs.io
[git]: https://git-scm.com
[poethepoet]: https://poethepoet.natn.io/
[python-versions]: https://devguide.python.org/versions/
[python]: https://python.org
[uv-installation]: https://docs.astral.sh/uv/getting-started/installation/
[uv]: https://docs.astral.sh/uv/
{%- endmacro -%}

{%- macro workflow(h='') -%}
{{h}}# Project development workflow

{{h}}## Cloning the repository
{%- if project_visibility == 'public' %}

```sh
git clone https://github.com/{{ github_user }}/{{ project_name }}
cd {{ project_name }}
```
{%- endif %}

Run `poe setup` in new repository clones to enable git hooks:

```sh
poe setup  # Enables git hooks
```

{{h}}## Development tools

* `poe lint`: Run formatters and static checks
* `poe test`: Run tests

The `lint` and `test` tasks can also be run as a single combined command with:

```sh
poe lt
```
{%- if "syrupy" in enable_features %}

### Test snapshots

Some tests compare test results with saved snapshots. Test snapshots can be
updated by running:

```sh
poe snapup
```
{%- endif %}
{%- if enable_docs %}

{{h}}## Documentation server

Start the development server with:

```sh
poe docs
```

The documentation site will be served at **<http://localhost:8000>**.

To use a different bind host/port, run `poe --help docs` for arguments info.
{%- endif %}
{%- endmacro -%}

{%- macro updates(h='') -%}
{{h}}# Applying copier-python template updates

Copier can update your project with template changes that have occurred since
the project was created.

To apply updates, simply run in your project directory:

```sh
copier update
```

This will repeat the setup prompts, in case any prompts have been added or
changed.

!!! tip
    To change template-provided features in your project, simply change your
    answers in the update prompts.

To apply updates without being prompted (reusing all previous answers), run:

```sh
copier update -l
```

When [`copier update`][copier-update] is finished, view changes with
`git status` and `git diff`. Resolve any conflicts, and then commit the result.

[copier-update]: https://copier.readthedocs.io/en/stable/updating/
{%- endmacro -%}
{#- vim: set ft=markdown: #}
