{%- set names = {
    "Apache-2.0": "Apache License 2.0",
    "BSD-3-Clause": 'BSD 3-Clause "New" or "Revised" License',
    "CC-BY-4.0": "Creative Commons Attribution 4.0 International",
    "CC-BY-SA-4.0": "Creative Commons Attribution Share Alike 4.0 International",
    "CC0-1.0": "Creative Commons Zero v1.0 Universal",
    "AGPL-3.0-only": "GNU Affero General Public License v3.0 only",
    "AGPL-3.0-or-later": "GNU Affero General Public License v3.0 or later",
    "GPL-3.0-only": "GNU General Public License v3.0 only",
    "GPL-3.0-or-later": "GNU General Public License v3.0 or later",
    "LGPL-3.0-only": "GNU Lesser General Public License v3.0 only",
    "LGPL-3.0-or-later": "GNU Lesser General Public License v3.0 or later",
    "ISC": "ISC License",
    "MIT": "MIT License",
} -%}

{%- macro name() -%}
{{ names[copyright_license] }}
{%- endmacro -%}

{%- macro url() -%}
{%- if project_visibility == 'public' -%}
https://github.com/{{ github_user }}/{{ project_name }}/blob/main/LICENSE
{%- else -%}
LICENSE
{%- endif -%}
{%- endmacro -%}

{%- macro notice(h='') -%}
{{h}}# License

Copyright (C) {{ copyright_year }} {{ copyright_holder }} and contributors

Licensed under the {{ name() }}
([`{{ copyright_license }}`]({{ url() }})).
{%- endmacro -%}
