{%- set min_minor = python_version_minimum.split(".")[1] | int -%}
{%- set max_minor = (
    python_version_maximum.split(".")[1] | int
    if python_version_maximum != 'No maximum' else
    template_python_versions_supported.max_minor
) -%}
{%- macro for_each_version() -%}
{%- for minor in range(min_minor, max_minor + 1) -%}
{{ caller(loop, '3.' + minor | string) }}
{%- endfor -%}
{%- endmacro -%}

{%- macro latest() -%}
3.{{ max_minor }}
{%- endmacro -%}

{%- macro requires_python() -%}
>={{ python_version_minimum }}
{%- if python_version_maximum != 'No maximum' -%}
,<3.{{ max_minor + 1 }}
{%- endif %}
{%- endmacro -%}
