{%- import "includes/license.jinja" as license with context -%}
---
title: License
icon: lucide/scale
---

# License
{%- for file in license.files | reverse %}

```
--8<-- "{{ file }}"
```
{%- endfor %}
{#- vim: set ft=markdown: #}
