{%- set repo_url = "https://github.com/" + github_user + "/" + project_name -%}
---
title: Releasing a new version
icon: lucide/rocket
---

# Releasing a new version

Release version numbers should follow [Semantic Versioning][semver].

To create a release, run `poe release` with one of `patch`, `minor`, or `major`
corresponding to the version number component to update:

```sh
poe release patch|minor|major
```

A new tag with the new release version number will be created automatically
using [bump-my-version][bump-my-version] (for example, `v1.2.3`).

Afterward, push the new release tag:

```sh
git push --tags
```

* A corresponding [GitHub release][github-releases]
  will be created automatically.

    [![GitHub Release][github-release-badge]][github-release-latest]
{%- if enable_pypi %}

* A release package will be built and [uploaded to PyPI][pypi-project].

    [![PyPI][pypi-badge]][pypi-project]
{%- endif %}
{%- if enable_container %}

* A container image will be built and published to
  the [GitHub Container Registry (GHCR)][ghcr-docs].
{%- endif %}

[bump-my-version]: https://callowayproject.github.io/bump-my-version/
{% if enable_container -%}
[ghcr-project]: {{ repo_url }}/pkgs/container/{{ project_name }}
{% endif -%}
[github-release-badge]: https://img.shields.io/github/v/release/{{ github_user }}/{{ project_name }}
[github-release-latest]: {{ repo_url }}/releases/latest
[github-releases]: {{ repo_url }}/releases
{%- if enable_pypi %}
[pypi-badge]: https://img.shields.io/pypi/v/{{ project_name }}
[pypi-project]: https://pypi.org/project/{{ project_name }}/
{%- endif %}
[semver]: https://semver.org/
{#- vim: set ft=markdown: #}
